body{
  background-color: rgb(37, 37, 68);
}

h1,h2,h3,h4,h5,h6,p{
  color: white;
}

#root{
  text-align: center;
}

.blockApp{
  background-color: rgb(37, 37, 68);
  margin: 2rem 2rem;
}

.blockApp__button{
  text-transform: capitalize;
  background-color: rgba(149, 181, 231, 0.541);
  padding: 1rem;
  color: white;
  border-radius: 2rem;
  border: none;
}

.blockApp__display{
  background-color: rgba(149, 181, 231, 0.541);
  margin: 1rem;
  border-radius: 2rem;
}

.blockApp__display-main{
  padding: 1rem;
}

.blockApp__display-type{
  padding-bottom: 1rem;
}

.blockApp__selector{
  margin: 1rem;
  border-radius: 2rem;
}